<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="First suite" verbose="1" >
    <test name = "doGet" >
        <classes>
            <class name="com.lemon.java.apiAuto.testCase.TestMethodCase_V1"></class>
   </classes>
</test>
</suite>